.DS_Store
_chat_crops/
_project_backups/
delivery_ascii/
代码文本/
**/.venv/
**/__pycache__/
**/*.pyc
**/Temp/
**/Binaries/
**/*.isopen
**/*.set
**/_system~.ini
trajectory_writer/artifacts/
trajectory_writer/trajectory_writer.egg-info/
trajectory_writer/_manual_image_job/
trajectory_writer/_manual_text_job/
trajectory_writer/_main_cli_text_job/
trajectory_writer/_z300_job/
trajectory_writer/gh-artifacts/
